.modal {
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 16px;
  margin: 20px;

  width: 394px;

  input, select {
    background-color: var(--sec);
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    height: 48px;
    width: 100%;

    &:focus {
      outline-color: var(--pri);
    }
  }

  button {
    border: none;

    &:focus {
      outline: var(--pri);
    }
  }

  h2 {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--pri);
      font-size: 1.2rem;
      flex-grow: 1;
      margin-left: 34px;
    }

    button {
      background: none;
    }
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .wrapper {
    display: flex;
  }


  select {
    display: inline-block;
    border-radius: 8px 0 0 8px;

    &:focus {
      outline-color: var(--pri);
    }

    option {
      border: none;
      padding: 5px 0;

      &:hover {
        background-color: var(--pri);
        color: #fff;
      }
    }

    & ~ button {
      border-radius: 0 8px 8px 0;
      border-left: 5px solid var(--sec);
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;

  }

    button {
      background-color: var(--pri);
      border-radius: 8px;
      color: #fff;
      height: 48px;
      width: 30%;
    }

    .cancelar {
      background-color: rgb(175, 175, 175);
    }
}
