<div class="background">
  <!-- <app-modal-generico></app-modal-generico> -->
  <!-- <app-modal-contato-boilerplate></app-modal-contato-boilerplate> -->
  <!-- <app-transferir-atendimento class="modais"></app-transferir-atendimento> -->
  <!-- <app-modal-file></app-modal-file> -->
  <!-- <app-tag-modal></app-tag-modal> -->
  <!-- <app-iniciar-novo></app-iniciar-novo> -->
  <!-- <app-cadastrar-cliente-modal></app-cadastrar-cliente-modal> -->
  <!-- <app-qrcode></app-qrcode> -->
  <!-- <app-config-supervisor></app-config-supervisor> -->
  <!-- <app-cadastrar-canal></app-cadastrar-canal> -->
  <app-cadastrar-agente></app-cadastrar-agente>
  <!-- <app-button></app-button> -->
</div>
