$p-primary: (
    50 : #eee1ff,
    100 : #d5b3ff,
    200 : #b981ff,
    300 : #9c4fff,
    400 : #8729ff,
    500 : #7203ff,
    600 : #6a03ff,
    700 : #5f02ff,
    800 : #5502ff,
    900 : #4201ff,
    A100 : #ffffff,
    A200 : #f5f2ff,
    A400 : #ccbfff,
    A700 : #b7a6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$o-accent: (
    50 : #fff0e1,
    100 : #ffd9b3,
    200 : #ffc080,
    300 : #fea74d,
    400 : #fe9427,
    500 : #fe8101,
    600 : #fe7901,
    700 : #fe6e01,
    800 : #fe6401,
    900 : #fd5100,
    A100 : #ffffff,
    A200 : #fff4f1,
    A400 : #ffcebe,
    A700 : #ffbba4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
